@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}
button {
  font-family: "Rubik", sans-serif;
  outline: none;
  border: transparent;
  font-weight: 600;
  border-radius: 0.4rem;
}
p {
  font-size: 1rem;
  color: #9194a1;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.med-heading {
  font-size: 1.8rem;
  text-align: center;
}
li {
  list-style-type: none;
}

/* COMPONENTS*/
.btn-primary {
  width: 7rem;
  height: 2.5rem;
  padding: 10px;
  margin: 1rem 30%;
  transition: 0.5s ease-in;
}
.secondary-btn {
  width: 8rem;
  height: 2.2rem;
}
.download-secondary-btn {
  height: 2.4rem;
}
.blue-btn {
  background: hsl(231, 69%, 60%);
  color: white;
}
.blue-btn:hover {
  background: white;
  border: 2px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}

.white-btn {
  background: hsl(228, 17%, 72%);
  color: black;
}
.white-btn:hover {
  color: hsl(229, 31%, 21%);
  border: 2px solid hsl(229, 31%, 21%);
  background: white;
}

.Navbar {
  display: flex;
  flex-direction: column;
  padding: 3% 2%;
  margin-bottom: 1rem;
  position: sticky;
  transition: 0.5s;
}
.Navbar__Link-brand {
  position: absolute;
}

.Navbar__Items {
  flex-direction: column;
  display: none;
  background-color: white;
  align-items: center;
  padding: 5px 0;
  margin: 1rem 0;
  margin-top: 2rem;
  transition: 0.5s;
}
.toggle-close {
  display: none;
}
.Navbar__Items a {
  text-transform: uppercase;
  padding: 10px 0;
  color: white;
  font-weight: 600;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  width: 80%;
  text-align: center;
}
.btn-login {
  background: inherit;
  border: 2px solid hsl(228, 50%, 92%);
  color: white;
  width: 15rem;
  font-size: 1.2rem;
  padding: 5px;
}
.Nav__icons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
}
.Nav__icon {
  display: inline-block;
}

.btn-login:hover {
  background: white;
  color: hsl(229, 31%, 21%);
  border: 2px solid hsl(229, 31%, 21%);
}

.Navbar__ToggleShow {
  display: flex;
  background: hsl(229, 31%, 21%);
  padding-top: 20px;
  border-radius: 0.6rem;
  transition: 0.5s;
}

.Navbar__Link-toggle {
  align-self: flex-end;
  position: absolute;
  cursor: pointer;
}
/* HERO SECTION */
.Hero-section {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 5px;
}

.Hero-section__btn-section {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  justify-content: center;
}
.Hero-section__heading {
  font-size: 1.7rem;
}

/* FEATURES SECTION */
.tab {
  margin: 1rem 0;
}
.tablinks {
  background: white;
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  padding: 5px 0;
  width: 100%;
  border-radius: 0;
}
.tablinks:hover {
  color: hsl(0, 94%, 66%);
  border-bottom: 4px solid hsl(0, 94%, 66%);
}
.tablinks .active {
  border-bottom: 4px solid hsl(0, 94%, 66%);
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 3%;
}

.tabcontent-image {
  max-width: 35rem;
}

.tabcontent-text {
  max-width: 30rem;
}

.blue-shape {
  height: 220px;
  width: 30rem;
  background: hsl(231, 69%, 60%);
  border-bottom-right-radius: 25rem;
  margin-top: -12rem;
  margin-left: -12rem;
}

/* DOWNLOAD SECTION*/
.download-section__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.download-section__item {
  margin: 1rem 0;
  display: grid;
  justify-content: center;
  gap: 0rem;
  text-align: center;
  height: 350px;
  max-width: 23rem;
  padding: 10px;
  border-radius: 0.6rem;
  box-shadow: 10px 3px 25px hsl(232, 38%, 67%);
}
.download-section__image {
  margin: 0 30%;
}

/* FAQ/ACCORDION */
.accordion-section {
  display: grid;
  justify-content: center;
  text-align: center;
}
.accordion-header {
  margin: 1rem 0;
}
.accordion-section p {
  color: black;
}
.accordion {
  background: inherit;
  display: block;
  padding: 15px;
  font-size: 1rem;
  border-radius: 0;
  width: 100%;
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.accordion:active,
.accordion:hover {
  background: hsl(231, 69%, 60%);
}
.panel {
  padding: 0 10px;
  background-color: white;
  display: none;
  overflow: hidden;
  max-width: 30rem;
}
.accordion:after {
  content: url("/images/icon-arrow.svg");
  color: #777;
  float: right;
  margin-left: 10px;
}
.active:after {
  content: url("/images/icon-close.svg"); /* Unicode character for "minus" sign (-) */
}

.outro-section {
  margin: 0;
  text-align: center;
  color: white;
  background: #5368df;
  padding: 15px;
}
.outro-section .para-white {
  color: white;
  padding-bottom: 10px;
  text-align: center;
}
.outro-section .error-sign {
  display: none;
  font-size: 1rem;
  text-align: left;
  color: white;
  background: #fa5757;
  width: 19rem;
  padding: 7px;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin-top: -0.8rem;
}
.outro-section .signup-form {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.outro-section .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.outro-section .image-input {
  margin-left: -2rem;
}
.outro-section .input-field {
  width: 19rem;
  height: 2.6rem;
  border-radius: 0.3rem;
  border: transparent;
  margin: 0.5rem 0;
}
.outro-section .input-field::-webkit-input-placeholder {
  font-size: 1rem;
  padding: 5px;
  font-family: "Rubik", sans-serif;
}
.outro-section .input-field:-ms-input-placeholder {
  font-size: 1rem;
  padding: 5px;
  font-family: "Rubik", sans-serif;
}
.outro-section .input-field::-ms-input-placeholder {
  font-size: 1rem;
  padding: 5px;
  font-family: "Rubik", sans-serif;
}
.outro-section .input-field::placeholder {
  font-size: 1rem;
  padding: 5px;
  font-family: "Rubik", sans-serif;
}
.outro-section .input-field:focus {
  outline: none;
}
.outro-section .small-heading {
  font-size: 1.4rem;
}
.outro-section #submit-btn {
  background: #fa5757;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}
.outro-section #submit-btn:hover {
  color: #fa5757;
  background: white;
  border: 2px solid #fa5757;
}
.footer-section {
  padding: 16px 5px;
  background: #252b46;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}
.footer-section .footer-links {
  color: white;
  line-height: 2;
  text-transform: uppercase;
}
.footer-section .icons-footer {
  margin-right: 15px;
}
.footer-section .icons-footer:hover {
  filter: invert(0) sepia(1) saturate(4.9) hue-rotate(158.4deg) brightness(1.2);
}
.logo-footer {
  filter: invert(0) sepia(1) saturate(4.9) hue-rotate(158.4deg) brightness(1.2);
}

@media (min-width: 760px) {
  p {
    font-size: 1.5rem;
    text-align: left;
  }
  .med-heading {
    font-size: 2rem;
    text-align: left;
    margin: 1rem 0;
  }
  /* NAVBAR */
  .logo {
    width: 13rem;
  }
  .Navbar__Items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 0;
    margin-top: -1.5rem;
    align-self: flex-end;
    background: inherit;
    margin-right: 3rem;
    width: fit-content;
  }
  .Navbar__Items a {
    color: hsl(229, 31%, 21%);
    border: none;
    font-size: 1.3rem;
  }
  .Navbar__Items a:hover {
    color: hsl(0, 94%, 66%);
  }
  .btn-login {
    background: hsl(0, 94%, 66%);
    color: white;
    border: none;
    padding: 5px;
    text-align: center;
    width: 20rem;
  }
  .btn-login:hover {
    color: hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
  }
  .Navbar__Link-toggle {
    display: none;
  }
  /* HERO SECTION*/
  .Hero-section {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .Hero-section__heading {
    font-size: 2.4rem;
  }
  .intro-text {
    max-width: 35rem;
  }
  .Hero-section__btn-section {
    justify-content: flex-start;
  }
  /* FEARURES SECTION*/

  .Main-features {
    text-align: left;
  }
  .tab {
    display: flex;
    justify-content: center;
  }
  .btn-primary {
    margin: 1.3rem 0%;
  }
  .tabcontent-text {
    max-width: 37rem;
  }

  .blue-shape {
    height: 290px;
    width: 50rem;
    background: hsl(231, 69%, 60%);
    border-bottom-right-radius: 25rem;
    margin-top: -15rem;
    margin-left: -27rem;
  }
  /*DOWNLOAD SECTION */
  .download-section__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr, 3);
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .download-section__header {
    margin-bottom: 10rem;
  }
  .download-section__item {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin: 0%;
  }
  .download-section__container .one {
    margin-top: -10rem;
  }
  .download-section__container .three {
    margin-top: 10rem;
  }

  .download-section__item p {
    text-align: center;
  }

  /* ACCORDION/FAQ SECTION */
  .accordion-header {
    max-width: 30rem;
    text-align: center;
    margin-top: 2rem;
  }
  .accordion-header p {
    text-align: center;
  }

  /* FOOTER SECTION */
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .footer-section .logo-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3rem;
  }
  .footer-section .footer-links__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
  }
}
